@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: #333;
    color: white;
}

/* Nav bar */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #222;
    border-bottom: 1px solid #222;
}

.links-container {
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    font-weight: 600;
    margin-right: 20px;
}

.link {
    cursor: pointer;
    background-color: rgb(41, 38, 38);
    padding: 5px 10px;
    border-radius: 5px;
}

.link:hover {
    background-color: rgb(52, 48, 48);
}

/* ---->  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sections <--- */ /* ? Hero Section*/

.hero {
    background: linear-gradient(to right, #B75381, #3B8C98);
    background-color: #111;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    height: 70vh;
    padding: 2rem;
    margin: 0 auto;
    background: none;
}

.hero-info{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    max-width: 50%;
    color: #111;
    font-weight: 500;
}

.hero-info h1 {
    color: #222;
    font-size: 3.5rem;
}

.hero-info p{
    font-size: 1.1rem;
}

.hero-section img {
    max-width: 75%;
    height: 75%;
    border-radius: .5rem;
}

.hero-cta {
    border: none;
    background-color: rgb(56, 179, 190);
    padding: .5rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.hero-cta:hover{
    background-color: rgb(38, 141, 147);
}

.stream {
    background-color: #333;
}

.stream:hover {
    background-color: #222;
}